@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "tailwindcss";

/* Set up a soft purple background and black text for the body */
body {
  background: linear-gradient(
135deg,
    #8c70a8 0%,
    #bfa2d8 25%,
    #8c70a8 50%,
    #bfa2d8 75%,
    #8c70a8 100%
  );
  color: #111111;
   overflow-x: hidden;
}

.link-rainbow {
  position: relative;
}

.link-rainbow::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: left;
}

.link-rainbow:hover::after {
  opacity: 1;
  transform: scaleX(1);
}


img {
  transform-style: preserve-3d;
  backface-visibility: hidden;
}
