@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
@import "tw-animate-css";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');


body {
  background: linear-gradient(
    135deg,
    #db2777 0%,
    #d946ef 25%,
    #fb7185 50%,
    #d946ef 75%,
    #db2777 100%
  );
  color: #ffffff;
  overflow-x: hidden;
  font-family: 'Ubuntu', sans-serif;
}

.link-rainbow {
  position: relative;
  cursor: pointer;
  transition: color 0.3s ease;
}

.link-rainbow:hover {
  color: #2563eb; /* blue-600 */
}

.mobile-menu a,
.mobile-menu button {
  font-size: 1rem;
}

header * {
  pointer-events: auto !important;
}
